.App {
    display: grid;
    grid-template-columns: repeat(50px, 1fr);
    grid-auto-rows: 100px;
    grid-gap: 0px;
  }



  /* .one {
    grid-column: 3 / 3;
    grid-row: 1;
    background-color: brown;
  }
  .two {
    grid-column: 4;
    grid-row: 1 / 9;
    background-color: grey;  
} */
  /* .three {
    grid-column: 3;
    grid-row: 8;
    background-color: green;
  } */
/* 
  .four {
    grid-column: 3;
    grid-row: 3;
  }
  .five {
    grid-column: 2;
    grid-row: 4;
  }
  .six {
    grid-column: 3;
    grid-row: 4;
  } */