  footer{
    position:absolute;
    bottom:0;  
    font-size: small;
    }


  .ul1 {
    display: flex;
    /* position verticale */
    align-items: center;
    color: #353535;
    font-weight: bold;
    list-style: none;
    padding: 10px;
    width: 98vw;
  }
  
  #barre {
    display: flex;
    /* position: absolute; */
    height: 0.1px;
    width: 100%;
    background-color: #64626269;
  }
  
  .blockfooterPalier {
    width: 90vw;
  }
  
  .blockfooter {
    width: 14rem;
    justify-content: space-evenly;
    display: flex;
  }

span {
  justify-content: center;
  display: flex;
}
  .blockfooter span:hover {
    cursor: pointer;
    text-decoration: underline;
    color: blue;
    }
  